{{ define "input_string" }}
<div data-signals="{ {{ .Id }}: { value: '' } }">
    <label>{{ .Title }}:</label><br />
    <input data-bind="${{ .Id }}.value" class="input" />
</div>
{{ end }}

{{ define "input_number" }}
<div data-signals="{ {{ .Id }}: { value: undefined } }">
    <label>{{ .Title }}:</label><br />
    <input data-bind="${{ .Id }}.value" type="number" class="input" />
</div>
{{ end }}

{{ define "lookup" }}
<div data-signals="{ {{ .Id }}: { value: '', open: false, offset: 0, limit: 15, searchIsLoading: false } }">
    <label>{{ .Title }}:</label>
    <div class="lookup">
        <div>
            <div data-show="${{ .Id }}.searchIsLoading">Loading</div>
            <input 
                class="lookup-input" 
                data-bind="${{ .Id }}.value"
                data-on-click__stop="@setAll('*.open', false); ${{ .Id }}.open = true"
                data-on-signal-change-{{ .Id }}.value__debounce.700ms="${{ .Id }}.offset = 0; ${{ .Id }}.open && @get('/fields/{{ .Id }}/widgets/lookup/list')"
                data-indicator="{{ .Id }}.searchIsLoading"
            />
        </div>
        {{ template "lookup_list" . }}
    <div>
</div>
{{ end }}

{{ define "lookup_items" }}
    {{ range .List }}
        <li 
            class="lookup-list-item" 
            data-on-click="${{ $.Id }}.value = '{{ .Value }}'; ${{ $.Id }}.open = false"
            {{if and .IsLast $.HasMore }} 
                data-on-intersect__once="@get('/fields/{{ $.Id }}/widgets/lookup/list')" 
            {{end}}
        >{{ .Value }}</li>
    {{ end }} 
{{ end }}

{{ define "lookup_list" }}
    <ul 
        id="{{ .Id }}-lookup-list"
        class="lookup-list" 
        data-show="${{ .Id }}.open" 
        data-on-click__outside="${{ .Id }}.open = false"
        data-on-intersect__once="@get('/fields/{{ .Id }}/widgets/lookup/list')" 
    >
    </ul>
{{ end }}

{{ define "lookup_list_fix" }}
    <ul 
        id="{{ .Id }}-lookup-list"
        class="lookup-list" 
        data-show="${{ .Id }}.open" 
        data-on-click__outside="${{ .Id }}.open = false"
    >
    </ul>
{{ end }}