{{ define "field"}}
    <fieldset class="fieldset mb-3">
        <legend class="fieldset-legend">{{ .Field.Title }}</legend>
        {{ .Widget }}
        {{ if .Field.Description }}
            <p class="label">{{ .Field.Description }}</p>
        {{ end }}
    </fieldset>
{{ end }}

{{ define "input_string" }}
    <input
        data-star-signals="{ fields: { {{ .Id }}: { value: ''} } }"
        data-star-bind="fields.{{ .Id }}.value"
        data-star-on-signal-patch__debounce.1s="@post('/fields/{{ .Id }}/widgets/input-string/change')"
        data-on-signal-patch-filter='{include: /^fields.{{ .Id }}.value$/}'
        class="input w-full" 
    />
{{ end }}

{{ define "input_number" }}
    <!-- FIX data-star-on-signal-patch-filter не работает https://github.com/starfederation/datastar/blob/develop/library/src/plugins/attributes/onSignalPatch.ts#L38 -->
    <input 
        data-star-signals="{ fields: { {{ .Id }}: { value: '' } } }"
        data-star-bind="fields.{{ .Id }}.value"
        data-star-on-signal-patch__debounce.1s="@post('/fields/{{ .Id }}/widgets/input-number/change')"
        data-on-signal-patch-filter='{include: /^fields.{{ .Id }}.value$/}'
        class="input w-full" 
        type="number"
    />
{{ end }}

{{ define "lookup" }}
    <button
        type="button"
        id="{{ .Id }}-lookup-anchor"
        style="anchor-name:--{{ .Id }}-lookup-anchor"
        class="input relative inline-flex flex-wrap w-full h-auto pr-4 p-2 gap-1"
        data-star-signals="{ fields: { {{ .Id }}: { value: null, search: '', open: false, offset: 0, limit: 15, abort: undefined, addValue: null, removeByIndex: -1, removeByValue: null } }}"
        data-star-on-click="evt.target.querySelector('input')?.focus(); $fields.{{ .Id }}.open = !$fields.{{ .Id }}.open"
    >
        <input
            class="grow gap-1 mt-0.5 w-auto min-w-[50px] h-[20px]"
            data-star-bind="fields.{{ .Id }}.search"
            data-star-on-blur="!$fields.{{ .Id }}.open && ($fields.{{ .Id }}.search = '')"
            data-star-on-signal-patch__debounce.700ms="$fields.{{ .Id }}.offset = 0; @get('/fields/{{ .Id }}/widgets/lookup/list')"
            data-on-signal-patch-filter="{include: /fields.{{ .Id }}.search/}"
            data-star-on-keydown="!$fields.{{ .Id }}.open && evt.code !== 'Escape' && ($fields.{{ .Id }}.open = true)"
            data-star-key-arrowup__prestop="evt.target.closest('.fieldset')?.querySelector('ul > li:last-of-type')?.focus()"
            data-star-key-arrowdown__prestop="evt.target.closest('.fieldset')?.querySelector('ul > li:first-of-type')?.focus()"
            data-star-key-enter__prestop="
                $fields.{{ .Id }}.addValue = $fields.{{ .Id }}.search.trim();
                $fields.{{ .Id }}.addValue !== '' && @post('/fields/{{ $.Id }}/widgets/lookup/add');
                $fields.{{ .Id }}.search = '';
                $fields.{{ .Id }}.open = false; 
            "
            data-star-key-backspace="
                $fields.{{ .Id }}.search === '' && $fields.{{ .Id }}.value !== '' && (
                    {{ if eq .Type "array" }}
                        $fields.{{ .Id }}.removeByIndex = [...document.getElementById('{{ .Id }}-lookup-anchor').querySelectorAll('.badge')].length - 1,
                        @post('/fields/{{ .Id }}/widgets/lookup/reset')
                    {{ else }}
                        @post('/fields/{{ .Id }}/widgets/lookup/reset')
                    {{ end }}
                )
            "
        />

        <span
            data-star-show="$fields.{{ .Id }}.value"
            data-star-on-click__stop="@post('/fields/{{ .Id }}/widgets/lookup/reset')"
            class="bg-gray-200 hover:bg-gray-300 transition-colors p-1 rounded-[50%] absolute right-2 top-2 cursor-pointer z-1"
        >
            <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z" fill="currentColor" /></svg>
        </span>
    </button>
    <div 
        data-star-popover-fields.{{ .Id }}.open__top
        style="
            position-anchor: --{{ .Id }}-lookup-anchor;
            left: anchor(left);
            top: anchor(bottom);
        "
        class="max-h-48 bg-base-100 rounded-box z-1 shadow-sm overflow-y-auto flex-nowrap absolute"
        id="{{ .Id }}-lookup-dropdown"
    >
        {{ template "lookup_list" (dict "Id" .Id "SkipGetList" "") }}
    </div>
{{ end }}

{{ define "lookup_list" }}
    <ul
        id="{{ .Id }}-lookup-list"
        class="menu"
        data-star-key-arrowup__prestop="evt.target.previousElementSibling ? evt.target.previousElementSibling.focus() : evt.target.parentElement.querySelector('li:last-of-type')?.focus()"
        data-star-key-arrowdown__prestop="evt.target.nextElementSibling ? evt.target.nextElementSibling.focus() : evt.target.parentElement.querySelector('li:first-of-type')?.focus()"
        data-star-on-keydown="(evt.key.length === 1 || evt.code === 'Space' || (evt.code === 'Backspace' && $fields.{{ $.Id }}.search !== '')) && evt.target.closest('.fieldset')?.querySelector('input')?.focus()"
        {{ if not .SkipGetList }}
            data-star-on-intersect__once="@get('/fields/{{ .Id }}/widgets/lookup/list')"
        {{ end }}
    >
    </ul>
{{ end }}

{{ define "lookup_items" }}
    {{ range .List }}
        {{ template "lookup_list_item" . }}
    {{ end }}
{{ end }}

{{ define "lookup_value" }}
    <div
        class="badge badge-neutral badge-outline badge-sm self-center cursor-default"
        data-star-value="{{ .Value }}"
    >
        <span class="m-0">{{ .Value }}</span>
        {{ if eq .Type "array" }}
            <span
                data-star-on-click__stop="
                    $fields.{{ .Id }}.removeByIndex = [...document.getElementById('{{ .Id }}-lookup-anchor').querySelectorAll('.badge')].indexOf(evt.target.closest('.badge')); 
                    @post('/fields/{{ .Id }}/widgets/lookup/reset')
                "
                class="opacity-50 hover:opacity-75 transition-opacity cursor-pointer"
            >
                <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z" fill="currentColor" /></svg>
            </span>
        {{ end }}
    </div>
{{ end }}

{{ define "lookup_list_item" }}
<li
    tabindex="0"
    role="option"
    data-star-computed-fields.{{ .Id }}.items.{{ .ValueId }}.selected="
        {{ if eq .Type "array"}}
            $fields.{{ .Id }}.value?.includes('{{ .Value }}')
        {{ else }}
            $fields.{{ .Id }}.value === '{{ .Value }}'
        {{ end }}
    "
        class="outline-none rounded-sm"
    data-star-class="{
        'bg-blue-300':  $fields.{{ .Id }}.items.{{ .ValueId }}.selected,
        'focus:bg-blue-400': $fields.{{ .Id }}.items.{{ .ValueId }}.selected,
        'focus:bg-gray-200': !$fields.{{ .Id }}.items.{{ .ValueId }}.selected
    }"
    data-star-on-blur="!evt.relatedTarget && evt.target.closest('.fieldset')?.querySelector('input')?.focus()"
    data-star-on-click="
        $fields.{{ .Id }}.items.{{ .ValueId }}.selected ? (
            $fields.{{ .Id }}.removeByValue = '{{ .Value }}',
            @post('/fields/{{ .Id }}/widgets/lookup/reset')
        ) : (
            $fields.{{ .Id }}.addValue = '{{ .Value }}',
            @post('/fields/{{ .Id }}/widgets/lookup/add'),
            $fields.{{ .Id }}.search = ''
        );
        {{ if ne .Type "array" }}
            $fields.{{ .Id }}.open = false;
        {{end}}
    "
    data-star-key-enter__prestop="
            $fields.{{ .Id }}.items.{{ .ValueId }}.selected ? (
                $fields.{{ .Id }}.removeByValue = '{{ .Value }}',
                @post('/fields/{{ .Id }}/widgets/lookup/reset')
            ) : (
                $fields.{{ .Id }}.addValue = '{{ .Value }}',
                @post('/fields/{{ .Id }}/widgets/lookup/add'),
                $fields.{{ .Id }}.search = ''
            );
            {{ if ne .Type "array" }}
                $fields.{{ .Id }}.open = false;
            {{end}}
        "
    {{if and .IsLast .HasMore }} 
        data-star-on-intersect__once="@get('/fields/{{ .Id }}/widgets/lookup/list')" 
    {{end}}
>
    <span>{{ .Value }}</span>
    
</li>
{{ end }}