{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form Example</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <script type="module">
      if (!("anchorName" in document.documentElement.style)) {
        import("https://unpkg.com/@oddbird/css-anchor-positioning");
      }
    </script>
    <script type="importmap">
    {
        "imports": {
          "datastar": "https://cdn.jsdelivr.net/gh/starfederation/datastar@main/bundles/datastar-aliased.js",
          "utils/text": "https://cdn.jsdelivr.net/npm/@starfederation/datastar@1.0.0-beta.11/dist/utils/text.js"
        }
    }
    </script>
    <script type="module">
        import { load } from 'datastar'
        import { modifyCasing, trimDollarSignPrefix } from 'utils/text'

        const pathToObj = (
          target,
          paths,
        ) => {
          for (const path in paths) {
            const keys = path.split('.')
            const lastKey = keys.pop()
            const obj = keys.reduce((acc, key) => (acc[key] ??= {}), target)
            obj[lastKey] = paths[path]
          }
          return target
        }

        load({
          type: 'attribute',
          name: 'popover',
          keyReq: 'exclusive',
          valReq: 'exclusive',
          shouldEvaluate: false,
          onLoad: (ctx) => {
            const { el, key, mods, value, effect, mergePatch, getPath, hasPath } = ctx

            el.setAttribute('popover', '')

            const signalName = key
              ? modifyCasing(key, mods)
              : trimDollarSignPrefix(value)

            const setPopoverFromSignal = () => {
              if(getPath(signalName)) {
                el.showPopover?.()

                if (mods.has('top')) {
                  el.scrollTo(0, 0)
                }
                
              } else {
                el.hidePopover?.()
              }
            }

            const setSignalFromPopover = (event) => {
                if (event.newState === 'open' && event.oldState !== 'open') {
                  mergePatch(pathToObj({}, { [signalName]: true }))
                }

                if (event.newState === 'closed' && event.oldState !== 'closed') {
                  mergePatch(pathToObj({}, { [signalName]: false }))
                }
            }

            el.addEventListener('toggle', setSignalFromPopover)

            const reset = effect(() => setPopoverFromSignal())

            return () => {
              reset()
              el.removeEventListener('toggle', setSignalFromPopover)
            }
          },
        })
    </script>
    <script type="module">
      import { load } from 'datastar';

      load({
        type: 'attribute',
        name: 'key',
        keyReq: 'allowed',
        valReq: 'allowed',
        argNames: ['evt'],
        onLoad: (ctx) => {
          const {el, key, mods, rx } = ctx

          let callback = (evt) => {
            if (evt) {
              if (evt.code.toLowerCase() !== key) return
              if (mods.has('prevent') || mods.has('prestop')) evt.preventDefault()
              if (mods.has('stop') || mods.has('prestop')) evt.stopPropagation()
            }

            rx(evt)
          }

          el.addEventListener('keydown', callback)

          return () => {
            el.removeEventListener('keydown', callback)
          }
        }
      });
    </script>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
  </head>
  <body class="p-4">
    <h1 class="font-bold text-4xl mb-4">User form</h1>
    {{ template "form" . }}
    {{ template "stateView" }}
  </body>
</html>
{{ end }}
