{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form Example</title>
    <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.0-beta.11/bundles/datastar.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <script type="module">
      if (!("anchorName" in document.documentElement.style)) {
        import("https://unpkg.com/@oddbird/css-anchor-positioning");
      }
    </script>
    <style>
        * {
            box-sizing: border-box;
        }
.anchor, .target {
    color: white;
    font-weight: bold;
    background: red;
    border: thin solid black;
    border-radius: 2px;
    padding: 0.5em;
    white-space: nowrap;
}
    </style>
  </head>
  <body>
    <h1>User Form</h1>
    {{ template "form" . }}
    <div style="position: relative" class="demo-elements">
        <button 
          class="anchor" 
          popovertarget="my-target"
          style="
            anchor-name: --my-anchor-positioning;
            width: 300px;
          "
        >Anchor</button>
        <div class="target"
        id="my-target"
        popover
        style="
    width: 100px;    
    position: absolute;
    top: anchor( --my-anchor-positioning bottom);
    left: anchor( --my-anchor-positioning left);
        " 
        >Target</div>
   </div>
  </body>
</html>
{{ end }}
